<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<form action="#" th:action="@{/admin/update/{id}(id=${user.id})}" th:object="${user}" method="post">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name">
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span><br>
    <label for="userPassword">Password</label>
    <input type="password" th:field="*{userPassword}" id="userPassword" placeholder="Password">
    <span th:if="${#fields.hasErrors('userPassword')}" th:errors="*{userPassword}"></span><br>
    <label for="position">Position</label>
    <input type="text" th:field="*{position}" id="position" placeholder="Position">
    <span th:if="${#fields.hasErrors('position')}" th:errors="*{position}"></span><br>
    <label for="age">Age</label>
    <input type="text" th:field="*{age}" id="age" placeholder="Age">
    <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></span><br>
    <label for="email">Email</label>
    <input type="text" th:field="*{email}" id="email" placeholder="Email">
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span><br>
    <div>
        <label>Role:</label><br>
        <label>admin
        <input type="checkbox" name="roleAdmin" value="admin"
               th:if="${preRoles.contains('ADMIN')}" checked>
        <input type="checkbox" name="roleAdmin" value="admin"
               th:unless="${preRoles.contains('ADMIN')}">
    </label>
        <label>user
            <input type="checkbox" name="roleUser" value="user"
                   th:if="${preRoles.contains('USER')}" checked>
            <input type="checkbox" name="roleUser" value="user"
                   th:unless="${preRoles.contains('USER')}">
        </label>
    </div>

    <input type="submit" value="Update User">
</form>
</body>
</html>
